<div class="modal is-active animate__animated" id="participant-form-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Participant</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <form hx-post="{{ url_for('cmte.edit_participants', event_id=event_id, rec_id=rec_id) }}"
              hx-swap="none"
              hx-indicator="#save-btn"
        >
            {{form.hidden_tag()}}
            <section class="modal-card-body">
                {% if not license %}
                <div class="field">
                    <label class="label">{{ form.license_number.label }}</label>
                    <div class="control" id="license-ctrl">
                        {{ form.license_number(class="input", **{'hx-get': url_for('cmte.search_license', event_id=event_id), 'hx-trigger': 'keyup changed delay:500ms', 'hx-target': '#participant-form', 'hx-swap': 'innerHTML', 'hx-indicator': '#license-ctrl'}) }}
                    </div>
                    {% if not_found %}
                    <span class="help is-danger">ไม่พบหมายเลขท.น. หรือใบอณุญาตหมดอายุ</span>
                    {% endif %}
                </div>
                <div class="field">
                    <label class="label">{{ form.score.label }}</label>
                    <div class="control">
                        {{ form.score(class="input", disabled=True) }}
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <label class="label">{{ form.license_number.label }}</label>
                    <div class="control" id="license-ctrl">
                        {{ form.license_number(class="input", **{'hx-get': url_for('cmte.search_license', event_id=event_id), 'hx-trigger': 'keyup changed delay:500ms', 'hx-target': '#participant-form', 'hx-swap': 'innerHTML', 'hx-indicator': '#license-ctrl'}) }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Expiration Date</label>
                    <div class="control">
                        <input type="text" class="input" value="{{license.end_date}}" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Member Name</label>
                    <div class="control">
                        <input type="text" class="input" value="{{license.member.th_fullname}}" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.score.label }}</label>
                    <div class="control">
                        {{ form.score(class="input") }}
                    </div>
                </div>
                {% endif %}
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                    <button class="button is-outlined is-dark" id="cancel-btn">Cancel</button>
                    <button class="button is-success" id="save-btn">Save</button>
                </div>
            </footer>
        </form>
    </div>
</div>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#participant-form-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#participant-form-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#participant-form-modal'), 'is-active')
    })
</script>