{% if not record.approved_date %}
<a class="icon"
   hx-confirm="ท่านต้องการลบรายการนี้ใช่หรือไม่"
   hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
   hx-indicator="this"
   hx-delete="{{url_for('cmte.edit_participants', rec_id=record.id, event_id=record.event.id, _method='DELETE')}}">
    <span class="icon">
        <i class="fa-solid fa-trash-can has-text-danger"></i>
    </span>
</a>
<a class="icon" hx-get="{{url_for('cmte.edit_participants', rec_id=record.id, event_id=record.event.id, _method='GET')}}"
   hx-target="#participant-form" hx-swap="innerHTML">
    <span class="icon">
        <i class="fa-solid fa-pencil has-text-dark"></i>
    </span>
</a>
{% endif %}