{% extends "base.html" %}

{% block content %}
{% include "admin_nav.html" %}
<section class="section">
    <div class="content">
        <div class="columns">
            <div class="column">
                <p>
                    ระบบจัดการสมาชิกยังอยู่ในช่วงปรับปรุงระบบ อาจมีบางรายการที่จะยกเลิกการใช้งานในอนาคต
                </p>
                <h1>Menu</h1>
                <ul>
                    <li>
                        <a href="{{url_for('webadmin.upload_new')}}">Upload New Members</a>
                    </li>
                    <li>
                        <a href="{{url_for('webadmin.upload_renew')}}">Upload Renew Members</a>
                    </li>
                    <li>
                        <a href="">ตรวจสอบคะแนน CMTE</a>
                    </li>
                    <li>
                        <a href="{{url_for('webadmin.view_member_password')}}">ดูรหัสผ่านเข้าระบบของสมาชิก</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}