{% extends "base.html" %}

{% block content %}
{% include "admin_nav.html" %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third">
                <h1>Menu</h1>
                <ul>
                    <li>
                        <a href="{{url_for('webadmin.upload_new')}}">Upload New Members</a>
                    </li>
                    <li>
                        <a href="{{url_for('webadmin.upload_renew')}}">Upload Renew Members</a>
                    </li>
                    <li>
                        <a href="{{url_for('webadmin.upload_phone_numbers')}}">Update Member Phone Numbers</a>
                    </li>
                    <li>
                        <a href="">ตรวจสอบคะแนน CMTE</a>
                    </li>
                    <li>
                        <a href="{{url_for('webadmin.view_member_password')}}">ดูรหัสผ่านเข้าระบบของสมาชิก</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h1 class="title is-size-5">ค้นหาสมาชิก</h1>
                <div class="field">
                    <div class="control is-large" id="queryInput">
                        <input id="query" type="text" name="query" class="input is-large is-rounded" placeholder="ค้นหาด้วยชื่อ เลขท.น.หรือเบอร์โทรศัพท์"
                               hx-indicator="#queryInput"
                               hx-target="#searchResult"
                               hx-swap="innerHTML"
                               hx-get="{{url_for('webadmin.search_member')}}"
                               hx-trigger="keyup changed delay:1000ms">
                    </div>
                </div>
                <div id="searchResult"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}