{% extends "base.html" %}
{% block content %}
{% include "admin_nav.html" %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third is-offset-4 box">
        <h1 class="title has-text-centered">ตรวจสอบรหัสผ่าน</h1>
        <form hx-post="{{url_for('webadmin.view_member_password')}}"
              hx-indicator="#submit-btn"
              hx-target="#password-text" hx-swap="innerHTML">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <div class="field">
            <label class="label">License No.</label>
            <div class="control">
              <input class="input" name="license_no">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input id="submit-btn" class="button is-success" type="submit" value="Search">
            </div>
          </div>
        </form>
        <div id="password-text"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
