{% extends "base.html" %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <div class="buttons is-centered">
          <a class="button is-medium is-success" href="{{url_for('cmte.create_event')}}">
            <span class="icon">
              <i class="fa-solid fa-plus"></i>
            </span>
            <span>เพิ่มกิจกรรมใหม่</span>
          </a>
        </div>
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active"><a>รอยื่นขออนุมัติ</a></li>
            <li><a href="{{url_for('cmte.show_submitted_events')}}">รอผลการอนุมัติ</a></li>
            <li><a href="{{url_for('cmte.show_approved_events')}}">อนุมัติแล้ว</a></li>
          </ul>
        </div>
        <table id="events" class="table is-fullwidth">
          <thead>
          <th>ชื่อ</th>
          <th>วันและเวลา</th>
          <th>สถานที่</th>
          <th>วันที่ยื่น</th>
          <th>วันที่อนุมัติ</th>
          <th></th>
          </thead>
          <tbody></tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $.fn.dataTable.moment('lll');
  $(document).ready(function (){
    $('#events').DataTable({
      ajax: {{url_for('cmte.load_pending_events', type_="drafting")|tojson|safe}},
    order: [[1, 'desc']],
            processing: true,
            columns: [
      {
        data: 'title',
        render: function (data, type, row) {
          return `<a href="${row['link']}">${data}</a>`
        },
        orderable: false
      },
      {
        data: 'start_date',
        render: function (data, type) {
          if (data !== null) {
            return moment(data).format('lll')
          } else {
            return null
          }
        },
        orderable: true
      },
      {
        data: 'end_date',
        render: function (data, type) {
          if (data !== null) {
            return moment(data).format('lll')
          } else {
            return null
          }
        },
        orderable: true
      },
      {data: 'venue', orderable: false},
      {
        data: 'submitted_datetime',
        render: function (data, type) {
          if (data !== null) {
            return moment(data).format('lll')
          } else {
            return null
          }
        },
        orderable: true
      },
      {
        data: 'approved_datetime',
        render: function (data, type) {
          if (data !== null) {
            return moment(data).format('lll')
          } else {
            return null
          }
        },
        orderable: true
      },
    ]
  });
  })
</script>
{% endblock %}