{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
    <div class="container">
        <h1 class="title">Event Registration Preview</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
                <h2 class="title">{{event.event_type}}</h2>
                <h3 class="subtitle">{{event.title}}</h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <td><strong>ประเภท</strong></td>
                        <td>{{event.event_type.category}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>ชนิด</strong></td>
                        <td>{{event.event_type}}</td>
                        <td>
                            <table class="table is-fullwidth is-bordered">
                                <tbody>
                                <tr>
                                    <td>เกณฑ์การให้คะแนน</td>
                                    <td>{{event.event_type.score_criteria}}</td>
                                </tr>
                                <tr>
                                    <td>คะแนนสูงสุดต่อครั้ง</td>
                                    <td>{{event.event_type.max_score}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>ชื่อกิจกรรม</strong></td>
                        <td>{{event.title}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>วันและเวลา</strong></td>
                        <td>{{event.start_date|localdatetime}} - {{event.end_date|localdatetime}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>สถานที่</strong></td>
                        <td>{{event.venue or 'ไม่ระบุ'}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>หน่วยคะแนนที่อนุมัติ</strong></td>
                        <td>{{event.cmte_points or 'ยังไม่กำหนด'}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Website</strong></td>
                        <td><a href="{{event.website}}">{{event.website or 'ไม่ระบุ'}}</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>อัตราค่าธรรมเนียมขออนุมัติจัดกิจกรรม</strong></td>
                        <td>{{event.fee_rate}}</td>
                        {% if event.payment_datetime %}
                        <td>ชำระเมื่อ {{event.payment_datetime|localdatetime}}
                            {% if event.payment_slip %}
                            <a class="button is-small" href="{{url_for('cmte.download_file', key=event.payment_slip.key, download_filename=event.payment_slip.filename)}}">
                                <span class="icon">
                                    <i class="fas fa-cloud-download-alt"></i>
                                </span>
                                <span>download slip</span>
                           </a>
                            <a class="button is-small" href="{{url_for('cmte.process_payment', event_id=event.id)}}">
                                <span class="icon">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                </span>
                                <span>upload slip</span>
                            </a>
                            {% endif %}
                        {% else %}
                        </td>
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>ต้องส่งรายชื่อผู้เข้าร่วมกิจกรรมภายในวันที่</strong></td>
                        <td>
                            <h1 class="title is-size-5 has-text-danger">
                                {{event.submission_due_date|localdate}}
                            </h1>
                        </td>
                        <td>
                            <span class="tag is-warning">
                                <strong>
                                    {{event.submission_due_date|humanizedate}}
                                </strong>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="participant-form"></div>
                <div class="buttons is-centered">
                    {% if not event.submitted_datetime %}
                    <a href="{{url_for('cmte.edit_event', event_id=event.id, next=request.url)}}" class="button is-link is-outlined">
                        <span class="icon">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <span>แก้ไขข้อมูล</span>
                    </a>
                    {% endif %}
                    {% if event.payment_datetime and not event.submitted_datetime %}
                    <a hx-confirm="ท่านต้องการยื่นขออนุมัติกิจกรรมนี้หรือไม่"
                       hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                       hx-post="{{url_for('cmte.submit_event', event_id=event.id, next=request.url)}}"
                       class="button is-link">
                        <span class="icon">
                            <i class="fa-regular fa-paper-plane"></i>
                        </span>
                        <span>ยื่นขออนุมัติ</span>
                    </a>
                    {% endif %}
                    {% if not event.payment_datetime %}
                    <a class="button is-warning" href="{{url_for('cmte.process_payment', event_id=event.id)}}">
                        <span class="icon">
                            <i class="fa-solid fa-credit-card"></i>
                        </span>
                        <span>ชำระค่าธรรมเนียม</span>
                    </a>
                    {% endif %}
                    {% if not event.is_past_submission_due_date and event.approved_datetime %}
                    <a class="button is-success" hx-get="{{url_for('cmte.edit_participants', event_id=event.id)}}"
                       hx-target="#participant-form"
                       hx-swap="innerHTML"
                    >
                        <span class="icon">
                            <i class="fa-solid fa-user-plus"></i>
                        </span>
                        <span>เพิ่มรายชื่อผู้เข้าร่วม</span>
                    </a>
                    หรือ
                    <form class="notification is-light" method="post" action="{{url_for('cmte.add_participants', event_id=event.id)}}" enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        <div class="field">
                            <label class="label">Upload รายชื่อ</label>
                            <div class="control">
                                {{form.upload_file()}}
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" value="Upload" class="button is-small is-success">
                        </div>
                    </form>
                    {% endif %}
                </div>
                <h1 class="title is-size-4">รายชื่อผู้เข้าร่วม</h1>
                <div id="participant-table">
                    <table class="table">
                        <thead>
                        <th>ชื่อ</th>
                        <th>หมายเลขใบอนุญาต (ท.น.)</th>
                        <th>คะแนนที่ได้รับ</th>
                        <th>เพิ่มเมื่อ</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for rec in event.participants %}
                        <tr>
                            <td>{{rec.license.member.th_fullname}}</td>
                            <td>{{rec.license_number}}</td>
                            <td>{{rec.score}}</td>
                            <td>{{rec.create_datetime|localdatetime}}</td>
                            <td>
                                <a class="icon"
                                      hx-confirm="ท่านต้องการลบรายการนี้ใช่หรือไม่"
                                      hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                      hx-delete="{{url_for('cmte.edit_participants', rec_id=rec.id, event_id=rec.event.id, _method='DELETE')}}">
                                    <span class="icon">
                                        <i class="fa-solid fa-trash-can has-text-danger"></i>
                                    </span>
                                </a>
                                <a class="icon" hx-get="{{url_for('cmte.edit_participants', rec_id=rec.id, event_id=rec.event.id, _method='GET')}}"
                                    hx-target="#participant-form" hx-swap="innerHTML">
                                    <span class="icon">
                                        <i class="fa-solid fa-pencil has-text-dark"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    document.addEventListener('alertError', function () {
        Swal.fire({
            icon: 'error',
            title: 'รายการนี้เพิ่มแล้ว'
        });
    })
</script>
{% endblock %}