{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Event Registration Payment</h1>
        <h1 class="subtitle has-text-centered">เพิ่มหลักฐานการชำระค่าธรรมเนียมลงทะเบียนกิจกรรม CMTE</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-half is-offset-3 box">
                <figure class="image is-3by4">
                    <img src="{{url_for('static', filename='qrcode-payment.png')}}">
                </figure>
                <h2 class="title is-size-4 has-text-centered">เลขบัญชี 1420016105 ธนาคารกรุงไทย</h2>
                {% if pay_amount %}
                <h1 class="title is-size-5 has-text-warning has-text-centered">
                    <span class="icon"><i class="fas fa-money-bill-alt"></i></span>
                    <span>
                        ยอดชำระ {{pay_amount}} บาท
                    </span>
                </h1>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="field">
                        <label class="label">{{form.upload_file.label}}</label>
                        <div class="control">
                            {{form.upload_file()}}
                            <p class="help is-danger">กรุณาอัพโหลดสลิปหลักฐานการโอน หากอัพโหลดซ้ำไฟล์เดิมจะถูกลบทิ้ง</p>
                        </div>
                    </div>
                    <h2 class="subtitle is-size-4 has-text-centered">ข้อมูลบนใบเสร็จ</h2>
                    <div class="control">
                        <label class="label">
                            ออกในนาม
                        </label>
                        {{ form.name(required=True) }}
                        <label class="label">
                            รายการที่ต้องการแสดงในใบเสร็จ (ถ้ามี)
                        </label>
                        {{ form.receipt_item(placeholder='เช่น ค่าต่ออายุ ค่าธรรมเนียม') }}
                        <label class="label">
                            เลขที่ผู้เสียภาษี (ถ้ามี)
                        </label>
                        {{ form.tax_id() }}
                        <label class="label">
                            ที่อยู่ที่แสดงในใบเสร็จ
                        </label>
                        {{ form.address(required=True) }}
                        <label class="label">
                            ที่อยู่สำหรับจัดส่งใบเสร็จ
                        </label>
                        {{ form.shipping_address(required=True) }}
                    </div>
                    <div class="field">
                        <div class="is-grouped is-grouped-centered">
                            <a href="{{url_for('cmte.cmte_index')}}" class="button is-light">Cancel</a>
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}