{% extends "base.html" %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
                {% for req in sponsor_member_add_pending_requests %}
                <p class="notification is-light is-warning">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                มีการขอเพิ่มท่านเป็นผู้ประสานงานหน่วยงาน {{req.to_sponsor}} เมื่อเวลา {{req.requested_at|localdatetime}}
                    <a hx-post="{{url_for('cmte.confirm_add_sponsor_members', req_id=req.id)}}"
                       hx-indicator="this"
                       hx-swap="none"
                       hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
                       class="button is-small is-success">ยืนยัน</a>
                    <a hx-delete="{{url_for('cmte.confirm_add_sponsor_members', req_id=req.id)}}"
                       hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
                       hx-indicator="this"
                       hx-swap="none"
                       class="button is-small is-danger">ปฏิเสธ</a>
                </p>
                {% endfor %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                {% if warning_msg %}
                    <div class="notification is-warning">
                        <span class="icon">
                            <i class="fa-solid fa-warning"></i>
                        </span>
                        {{ warning_msg }}
                    </div>
                {% endif %}
                <article class="panel is-info">
                    <p class="panel-heading">สถาบันฝึกอบรม</p>
                    <a class="panel-block" href="{{url_for('cmte.register_sponsor')}}">
                        ลงทะเบียน / จัดการข้อมูลสถาบัน-ผู้ประสานงาน
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.register_event')}}">
                        ขออนุมัติจัดกิจกรรมใหม่
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.show_draft_events')}}">
                        รายการกิจกรรม
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}