{% extends "base.html" %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
    <div class="container">
        <h1 class="title">ระบบสารสนเทศการศึกษาต่อเนื่องเทคนิคการแพทย์</h1>
        <h1 class="subtitle">ศูนย์การศึกษาต่อเนื่องเทคนิคการแพทย์</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <article class="panel is-info">
                    <p class="panel-heading">สถาบันการศึกษาต่อเนื่อง</p>
                    <a class="panel-block" href="{{url_for('cmte.register_event')}}">
                        ลงทะเบียน / จัดการข้อมูลสถาบัน
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.register_event')}}">
                        ขออนุมัติจัดกิจกรรมใหม่
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.show_draft_events')}}">
                        รายการกิจกรรม
                    </a>
                </article>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons is-centered">
                    <a href="{{url_for('cmte.admin_index')}}" class="button is-warning is-outlined">
                        <span class="icon">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <span>CMTE Admin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}