{% extends "base.html" %}

{% block title %}Sponsor Member Form{% endblock %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
  <div class="columns">
    <div class="column is-one-third is-offset-4 box">
      {% include "messages.html" %}
      <h1 class="title has-text-centered">
        ลืมรหัสผ่าน
      </h1>
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="field">
          <label class="label">Your Email</label>
          <div class="control">
            <input type="email" name="email" class="input" required />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" value="Submit" class="button is-success">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
