{% extends "base.html" %}

{% block title %}Sponsor Member Form{% endblock %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
  <div class="columns">
    <div class="column is-one-third is-offset-4 box">
      {% include "messages.html" %}
      <h1 class="title has-text-centered">
        ลงชื่อเข้าใช้งานระบบ
      </h1>
      <form method="post">
        {{form.hidden_tag()}}
        <div class="field">
          <label class="label">{{form.email.label}}</label>
          <div class="control">
            {{form.email(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.password.label}}</label>
          <div class="control">
            {{form.password(class="input")}}
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" value="Log In" class="button is-primary">
          </div>
          <div class="control">
            <a class="button is-link is-outlined" type="button" href="{{url_for('cmte.register_sponsor_member')}}">
              ลงทะเบียนผู้ใช้
            </a>
          </div>
        </div>
      </form>
      <div class="has-text-right">
        <a href="{{url_for('cmte.forget_password')}}">ลืมรหัสผ่านคลิกที่นี่</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
