{% extends "base.html" %}

{% block title %}Sponsor Member Form{% endblock %}

{% block content %}
{% include "members/nav.html" %}
<section class="section">
  <h1 class="title has-text-centered">สถาบันฝึกอบรม</h1>
  <div class="columns">
    <div class="column is-one-third is-offset-4 box">
      {% include "messages.html" %}
      <h1 class="title has-text-centered">ลงทะเบียนผู้ใช้</h1>
      <form method="post">
        {{form.hidden_tag()}}
        <div class="field">
          <label class="label">{{form.title.label}}</label>
          <div class="control">
            {{form.title(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.firstname.label}}</label>
          <div class="control">
            {{form.firstname(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.lastname.label}}</label>
          <div class="control">
            {{form.lastname(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.email.label}}</label>
          <div class="control">
            {{form.email(class="input is-danger")}}
          </div>
          <p class="help is-info">กรุณากรอกเฉพาะหมายเลข เช่น 09099045xx</p>
        </div>
        <div class="field">
          <label class="label">{{form.mobile_phone.label}}</label>
          <div class="control">
            {{form.mobile_phone(class="input")}}
          </div>
          <p class="help is-info">กรุณากรอกเฉพาะหมายเลข เช่น 09099045xx</p>
        </div>
        <div class="field">
          <label class="label">{{form.password.label}}</label>
          <div class="control">
            {{form.password(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.confirm_password.label}}</label>
          <div class="control">
            {{form.confirm_password(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" value="Register" class="button is-danger">
          </div>
        </div>
      </form>
    </div>
    <div class="column">

    </div>
  </div>
</section>
{% endblock %}
