{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
                <h2 class="title has-text-centered">ไม่สามารถบันทึกคะแนนได้</h2>
                <h2 class="subtitle has-text-centered">กรุณาตรวจสอบข้อมูลให้ถูกต้องอีกครั้ง</h2>
                {{errors|safe}}
                <a class="button is-light" href="{{url_for('cmte.preview_event', event_id=event.id)}}">
                    Back
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
