{% extends "base.html" %}

{% block title %}Sponsor Form{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
    {% include "cmte/nav.html" %}
    <section class="section">
        <h1 class="title has-text-centered">ลงทะเบียนสถาบันการศึกษาต่อเนื่องเทคนิคการแพทย์</h1>
        <div class="columns">
            <div class="column box">
                {% include "messages.html" %}
                <form method="post" enctype="multipart/form-data" id="app">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">ชื่อหน่วยงาน</label>
                        <div class="control">
                            {{ form.name(class="input", required=True) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.affiliation.label }}</label>
                        <div class="control">
                            {{ form.affiliation(class="input", required=True) }}
                        </div>
                    </div>
                    {% if is_admin %}
                        <div class="field">
                            <label class="label">วันที่ขึ้นทะเบียน</label>
                            <div class="control">
                                {{ form.registered_datetime(class="input", type="text", autocomplete="off") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">วันที่หมดอายุ</label>
                            <div class="control">
                                {{ form.expire_date(class="input", type="text", autocomplete="off") }}
                            </div>
                        </div>
                    {% endif %}
                    <label class="label">ลักษณะองค์กร</label>
                    <div class="field">
                        <div class="select">
                            {{ form.type(**{'hx-get': url_for("cmte.get_org_type"),
                            'hx-target': '#related-type', 'hx-swap': 'innerHTML', 'hx-trigger': 'change, load'}) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" style="padding-left: 50px">
                            <div id="related-type"></div>
                        </label>
                    </div>
                    <div class="field">
                        <label class="label">นักเทคนิคการแพทย์ในองค์กร</label>
                        <div class="control">
                            {{ form.has_med_tech(required=True) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">ประเภทหน่วยงาน</label>
                        <div class="select">
                            {{ form.private_sector(**{'hx-get': url_for("cmte.get_qualifications"),
                            'hx-target': '#related-doc', 'hx-swap': 'innerHTML', 'hx-trigger': 'change, load'}) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">หลักฐานแสดงคุณสมบัติขององค์กร</label>
                        <label class="label" style="padding-left: 50px">
                            <div id="related-doc"></div>
                        </label>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.address.label }}ของหน่วยงาน</label>
                        <div class="control">
                            {{ form.address(class="textarea", required=True) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.zipcode.label }}</label>
                        <div class="control">
                            {{ form.zipcode(class="input", required=True) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">เบอร์โทรศัพท์ของหน่วยงาน</label>
                        <div class="control">
                            {{ form.telephone(class="input", required=True) }}
                        </div>
                        <p class="help is-info">กรุณากรอกเฉพาะหมายเลข เช่น 09099045xx</p>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.email.label }} ของหน่วยงาน/ผู้ประสานงาน</label>
                        <div class="control">
                            {{ form.email(class="input") }}
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            {% if is_admin %}
                                <a type="button" href="{{ url_for('users.cmte_admin_index') }}" class="button is-light">Cancel</a>
                            {% else %}
                                <a type="button" href="{{ url_for('cmte.cmte_index') }}" class="button is-light">Cancel</a>
                            {% endif %}
                        </div>
                        <div class="control">
                            <input type="submit" value="Register" class="button is-danger">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $("input[name='registered_datetime']").daterangepicker({
            buttonClasses: 'button is-small',
            applyButtonClasses: 'is-link',
            cancelButtonClasses: 'is-light',
            autoUpdateInput: false,
            {% if form.registered_datetime.data %}
                startDate: {{form.registered_datetime.data.strftime('%d/%m/%Y %H:%M')|tojson|safe}},
            {% endif %}
        timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 30,
            singleDatePicker: true,
            locale: {
            format: 'DD/MM/YYYY HH:mm'
        }
        })
        $('input[name="registered_datetime"]').on('apply.daterangepicker', function (evt, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY HH:mm'))
        })
        $("input[name='expire_date']").daterangepicker({
            buttonClasses: 'button is-small',
            applyButtonClasses: 'is-link',
            cancelButtonClasses: 'is-light',
            autoUpdateInput: false,
            {% if form.expire_date.data %}
                startDate: {{form.expire_date.data.strftime('%d/%m/%Y')|tojson|safe}},
            {% endif %}
            timePicker: false,
            singleDatePicker: true,
            locale: {
            format: 'DD/MM/YYYY'
        }
        })
        $('input[name="expire_date"]').on('apply.daterangepicker', function (evt, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY'))
        })
    })
</script>
<script>
    document.getElementById('app').onsubmit = function(event) {
        var selectedValue = document.querySelector('input[name="has_med_tech"]:checked');
        if (!selectedValue) {
            alert('กรุณาเลือกการมีนักเทคนิคการแพทย์ก่อนส่งฟอร์ม');
            event.preventDefault();
        }
    };
</script>
{% endblock %}
