{% extends "base.html" %}

{% block title %}Sponsor Form{% endblock %}

{% block content %}
{% include "cmte/nav.html" %}
<section class="section">
  <h1 class="title has-text-centered">ลงทะเบียนสถาบันฝึกอบรม</h1>
  <div class="columns">
    <div class="column is-one-third is-offset-4 box">
      {% include "messages.html" %}
      <form method="post">
        {{form.hidden_tag()}}
        <div class="field">
          <label class="label">{{form.name.label}}</label>
          <div class="control">
            {{form.name(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.affiliation.label}}</label>
          <div class="control">
            {{form.affiliation(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.address.label}}</label>
          <div class="control">
            {{form.address(class="textarea")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.telephone.label}}</label>
          <div class="control">
            {{form.telephone(class="input is-danger")}}
          </div>
          <p class="help is-info">กรุณากรอกเฉพาะหมายเลข เช่น 09099045xx</p>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <a type="button" href="{{url_for('cmte.cmte_index')}}" class="button is-light">Cancel</a>
          </div>
          <div class="control">
            <input type="submit" value="Register" class="button is-danger">
          </div>
        </div>
      </form>
    </div>
    <div class="column">

    </div>
  </div>
</section>
{% endblock %}
