{% extends "base.html" %}

{% block title %}Sponsor Detail{% endblock %}

{% block content %}
    {% include "cmte/nav.html" %}
    <section class="section" id="app">
        {% include "messages.html" %}
        <h1 class="title has-text-centered">สถาบันฝึกอบรม {{ sponsor.name }}</h1>
        <div id="sponsor-modal-container"></div>
        <div class="has-text-centered">
            <a hx-get="{{ url_for('cmte.sponsor_modal', sponsor_id=sponsor.id) }}"
               hx-target="#sponsor-modal-container" hx-swap="innerHTML"
               class="button is-success">
                <span class="icon">
                    <i class="fa-solid fa-pencil"></i>
                </span>
                <span>แก้ไขข้อมูลสถาบัน</span>
            </a>
        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-fullwidth is-striped is-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>รหัส</strong></td>
                        <td>{{ sponsor.code or 'รอการตรวจสอบและอนุมัติ' }}</td>
                    </tr>
                    <tr>
                        <td><strong>สังกัด</strong></td>
                        <td>{{ sponsor.affiliation or '' }}</td>
                    </tr>
                    <tr>
                        <td><strong>ลักษณะองค์กร</strong></td>
                        <td>{{ sponsor.type }} {{ sponsor.type_detail or '' }}</td>
                    </tr>
                    <tr>
                        <td><strong>หลักฐานแสดงคุณสมบัติขององค์กร</strong></td>
                        <td>
                            {% for q in sponsor.qualifications %}
                                <li>{{ q }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>ที่อยู่</strong></td>
                        <td>{{ sponsor.address }} {{ sponsor.zipcode }}</td>
                    </tr>
                    <tr>
                        <td><strong>โทรศัพท์</strong></td>
                        <td>{{ sponsor.telephone }}</td>
                    </tr>
                    <tr>
                        <td><strong>email</strong></td>
                        <td>{{ sponsor.email or '' }}</td>
                    </tr>
                    <tr>
                        <td><strong>website</strong></td>
                        <td>{{ sponsor.website or '' }}</td>
                    </tr>
                    <tr>
                        <td><strong>ผู้ประสานงาน</strong></td>
                        <td>
                            {% for member in sponsor.members|sort(attribute="id") %}
                                <li>{{ member }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>วันที่ขึ้นทะเบียน</strong></td>
                        <td>{{ sponsor.registered_datetime|localdatetime or 'รอการตรวจสอบและอนุมัติ' }}</td>
                    </tr>
                    <tr>
                        <td><strong>วันที่หมดอายุ</strong></td>
                        <td>{{ sponsor.expire_date|localdate or 'รอการตรวจสอบและอนุมัติ' }}
                            {% if not is_admin %}
                                {% if sponsor.expire_status() != "active" %}
                                    <a href="{{ url_for('cmte.request_renew_sponsor', sponsor_id=sponsor.id) }}"
                                       class="button is-warning">
                                        <span class="icon">
                                            <i class="fa-solid fa-history"></i>
                                        </span>
                                        <span>ส่งคำขอต่ออายุสถาบัน</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h1 class="title has-text-centered">รายชื่อผู้ประสานงาน</h1>
        <div class="has-text-centered">
            <a href="{{ url_for('cmte.register_sponsor_member', sponsor_id=sponsor.id) }}"
               class="button is-info">
                <span class="icon">
                    <i class="fa-solid fa-user-plus"></i>
                </span>
                <span>เพิ่มผู้ประสานงาน</span>
            </a>
        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-fullwidth is-striped is-bordered">
                    <thead>
                        <th>ชื่อ - นามสกุล</th>
                        <th>ตำแหน่ง</th>
                        <th>email</th>
                        <th colspan="2">โทรศัพท์</th>
                    </thead>
                    <tbody>
                    {% for member in sponsor.members|sort(attribute="id") %}
                    <tr>
                        <td>
                            <a href="{{ url_for('cmte.manage_member', member_id=member.id) }}">{{ member }}</a>
                            {% if member.is_coordinator %}
                                <span class="tag is-info is-light">
                                    <i class="far fa-tag"></i>
                                    ผู้ประสานงานหลัก
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ member.position or '' }}</td>
                        <td>{{ member.email or '' }}</td>
                        <td>{{ member.mobile_phone or '' }} {{ member.telephone or '' }}</td>
                        {% if is_admin or current_user.is_coordinator %}
                            {% if not member.id == current_user.id %}
                        <td>
                            <div class="buttons">
                                <a class="button"
                                    hx-swap="outerHTML swap:1s"
                                    hx-target="closest tr"
                                    hx-confirm="คุณต้องการลบรายการนี้หรือไม่"
                                    hx-delete="{{ url_for('cmte.del_member',
                                    sponsor_id=sponsor.id, member_id=member.id) }}">
                                    <span class="icon is-small">
                                        <i class="fa-solid fa-trash-can has-text-danger"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if is_admin %}
        <div class="buttons is-centered">
            <a href="{{ url_for('cmte.all_sponsor') }}" class="button is-light">
                <span class="icon">
                    <i class="far fa-arrow-left"></i>
                </span>
                <span>กลับ</span>
            </a>
        </div>
        {% else %}
        <div class="buttons is-centered">
            <a href="{{ url_for('cmte.cmte_index') }}" class="button is-light">
                <span class="icon">
                    <i class="far fa-arrow-left"></i>
                </span>
                <span>กลับ</span>
            </a>
        </div>
        {% endif %}
    </section>
{% endblock %}