{% extends "base.html" %}

{% block content %}
{% include "members/nav.html" %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">รายการชำระค่าธรรมเนียมกิจกรรม CMTE รายบุคคล</h1>
        <table class="table is-striped is-fullwidth">
          <thead>
          <th>วันที่ชำระ</th>
          <th>ระยะเวลาที่ใช้ขออนุมัติคะแนนส่วนบุคคล</th>
          </thead>
          <tbody>
          {% for r in current_user.license.cmte_fee_payment_records %}
          <tr>
            <td>{{r.payment_datetime|localdatetime or r.note}}</td>
            <td>{{r.start_date|localdate}} - {{r.end_date|localdate}}
            {% if not r.payment_datetime %}
              <span class="tag is-warning is-rounded">
                รอตรวจสอบ
              </span>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="buttons is-centered">
          <a class="button is-primary" href="{{url_for('member.individual_score_form')}}"
          >
            ยื่นคะแนน
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
