{% extends "base.html" %}

{% block content %}
{% include "members/nav.html" %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-fifth">
                <aside class="menu">
                    <p class="menu-label">Administration</p>
                    <ul class="menu-list">
                        <li><a>ข้อมูลส่วนตัว</a></li>
                        <li>
                            <a>การศึกษาต่อเนื่อง (CMTE)</a>
                            <ul>
                                <li><a href="{{url_for('member.summarize_cmte_scores', filter='approved')}}">ตรวจสอบหน่วยคะแนน</a></li>
                                <li><a href="{{url_for('member.individual_score_index')}}">ยื่นขออนุมัติคะแนนรายบุคคล</a></li>
                                <li><a href="{{url_for('member.individual_score_group_index')}}">ยื่นขออนุมัติคะแนนรายบุคคลแบบกลุ่ม</a></li>
                                <li><a>รายการกิจกรรม</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>

            </div>
            <div class="column is-two-fifths">
                <div class="box">
                    <div class="has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <img src="{{url_for('static', filename='doctor.png')}}">
                        </figure>
                        <h1 class="title">{{current_user.th_fullname}}</h1>
                        <h1 class="subtitle">ท.น.{{current_user.license_number}}</h1>
                        <p class="has-text-danger">
                            หากท่านได้ดำเนินการต่ออายุในระบบ OnePlatform ทางเจ้าหน้าที่กำลังดำเนินการอัพเดตวันหมดอายุให้เป็นปัจจุบันขออภัยในความไม่สะดวก
                        </p>
                    </div>
                    <table class="table is-fullwidth mt-4">
                        <tr>
                            <td><strong>ใบอนุญาตหมดอายุ</strong></td>
                            <td>{{current_user.current_license.end_date|localdate}} ({{current_user.valid_license.end_date|humanizedate}})</td>
                        </tr>
                        <tr>
                            <td><strong>สถานะใบอนุญาต</strong></td>
                            <td>ปกติ</td>
                        </tr>
                        <tr>
                            <td><strong>หน่วยคะแนน CMTE</strong></td>
                            <td>{{valid_cmte_scores}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}