{% extends "base.html" %}


{% block content %}
<section class="section">
  <div class="container">
    <div class="block has-text-centered">
      <figure class="image is-64x64 is-inline-block">
        <img src="{{url_for('static', filename='logo.png')}}">
      </figure>
    </div>
    <h1 class="title is-size-4 has-text-centered">ระบบแสดงข้อมูลผู้ประกอบวิชาชีพเทคนิคการแพทย์</h1>
    <h1 class="subtitle is-size-5 has-text-centered">สำนักงานเลขาธิการ สภาเทคนิคการแพทย์</h1>
    <div class="columns">
      <figure class="image is-128x128" id="profile-image">
          <span>กำลังโหลดรูปภาพ..</span>
      </figure>
      <div class="column">
        <table class="table">
            <colgroup>
                <col style="width: 20%;">
                <col style="width: auto;">
            </colgroup>
          <tr>
            <td><strong>ชื่อ</strong></td>
            <td>{{member.th_fullname}}</td>
          </tr>
          <tr>
            <td><strong>หมายเลขใบอนุญาต</strong></td>
            <td>{{member.license.number}}</td>
          </tr>
          <tr>
            <td><strong>วันที่ใบอนุญาต</strong></td>
            <td>{{member.license.dates}}</td>
          </tr>
          <tr>
            <td><strong>สถานะใบอนุญาต</strong></td>
            <td>{{lic_status|safe}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a href="{{url_for('member.search_member')}}" class="button is-rounded is-link">
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <span>
                ค้นหาผู้ประกอบวิชาชีพ
            </span>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
    $(document).ready(()=>{
        htmx.ajax('GET', {{ url_for('member.get_member_profile_image', member_id=member.id)|tojson|safe }},
            {
                target: "#profile-image",
                swap: "innerHTML",
            })
    })
    </script>
{% endblock %}