{% extends "base.html" %}


{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="block has-text-centered">
          <figure class="image is-64x64 is-inline-block">
            <img src="{{url_for('static', filename='logo.png')}}">
          </figure>
        </div>
        <p class="notification has-text-centered is-light is-warning">กรุณา log in เข้าใช้งานระบบใหม่เพื่อตรวจสอบคะแนน</p>
        <div class="buttons is-centered">
          <a href="{{url_for('member.index')}}" class="button is-link">Log In</a>
        </div>
      </div>
    </div>
    </div>
</section>
{% endblock %}