{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="block has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="{{url_for('static', filename='logo.png')}}" width="100">
                    </figure>
                </div>
            </div>
        </div>
        <br>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">ตรวจสอบใบอนุญาตประกอบวิชาชีพเทคนิคการแพทย์</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="control is-large" id="queryInput">
                        <input id="query" type="text" name="query" class="input is-large is-rounded" placeholder="ค้นหาด้วยชื่อหรือเลขท.น."
                               hx-indicator="#queryInput"
                               hx-target="#searchResult"
                               hx-swap="innerHTML"
                               hx-get="{{url_for('member.search_member_api')}}"
                               hx-trigger="keyup changed delay:1000ms">
                    </div>
                </div>
                <div id="searchResult"></div>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <div class="content has-text-centered">
            สภาเทคนิคการแพทย์กำลังอยู่ในระหว่างปรับปรุงฐานข้อมูลสมาชิก หากพบข้อผิดพลาดหรือสงสัยในข้อมูลสมาชิกกรุณาติดต่อกับเจ้าหน้าที่เพื่อตรวจสอบยืนยัน โทร 02-0266491 ต่อ 107
        </div>
    </footer>
</section>
{% endblock %}