{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <h1 class="title has-text-centered">ค้นหาผู้ประกอบวิชาชีพเทคนิคการแพทย์</h1>
                <form class="box"
                      hx-swap="innerHTML"
                      hx-target="#result"
                      hx-post="{{url_for('member.search_member')}}">
                    {{form.hidden_tag()}}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{form.firstname.label}}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{form.firstname(class="input")}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{form.lastname.label}}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{form.lastname(class="input")}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{form.license_id.label}}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{form.license_id(class="input")}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="submit-btn" type="submit" class="button is-info">ค้นหา</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div id="result"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="content has-text-centered">
            สภาเทคนิคการแพทย์กำลังอยู่ในระหว่างปรับปรุงฐานข้อมูลสมาชิก หากพบข้อผิดพลาดหรือสงสัยในข้อมูลสมาชิกกรุณาติดต่อกับเจ้าหน้าที่เพื่อตรวจสอบยืนยัน โทร 02-0266491 ต่อ 107
        </div>
    </footer>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    document.addEventListener('htmx:beforeSend', function () {
        htmx.addClass(htmx.find('#submit-btn'), 'is-loading')
    })
    document.addEventListener('stopLoading', function (evt) {
        console.log(evt.detail.value)
        htmx.removeClass(htmx.find(evt.detail.value), 'is-loading')
    })
</script>
{% endblock %}