{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "cmte/admin_nav.html" %}
    <section class="section">
        <div class="container">
            <h1 class="title">ข้อมูลสถาบัน</h1>
            {% include 'messages.html' %}
            <div class="columns">
                <div class="column">
                    <div class="buttons is-centered">
                        <a href="{{url_for('cmte.register_sponsor')}}" class="button is-info">
                            <span class="icon">
                              <i class="far fa-plus"></i>
                            </span>
                            <span>เพิ่มสถาบัน</span>
                        </a>
                    </div>
                    <table id="sponsors" class="table is-fullwidth">
                        <thead>
                        <th>สถาบัน</th>
                        <th>วันที่ขึ้นทะเบียน</th>
                        <th>วันที่หมดอายุ</th>
                        <th>สถานะบัญชี</th>
                        <th></th>
                        </thead>
                        <tbody>
                            {% for sponsor in sponsors %}
                                <tr>
                                    <td style="width: 20em;">
                                        <a href={{ url_for('cmte.manage_sponsor', sponsor_id=sponsor.id) }}
                                           {% if not registered_datetime %}class="has-text-danger"{% endif %}>
                                            <span>{{ sponsor.name }}</span>
                                            <span class="icon">
                                                <i class="fa-solid fa-info-circle"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td>{{ sponsor.registered_datetime|localdatetime or ''}}</td>
                                    <td>{{ sponsor.expire_date|localdate or '' }}</td>
                                    <td {% if sponsor.expire_status() == 'expired'%}
                                            class="has-text-danger"
                                        {% elif sponsor.expire_status() == 'nearly_expire'%}
                                            class="has-text-warning" {% endif %}>
                                        {{ sponsor.expire_status() }}
                                    </td>
                                    <td>
                                        <div id="sponsor-modal-container"></div>
                                        <a href="{{ url_for('cmte.edit_sponsor', sponsor_id=sponsor.id) }}"
                                            class="button is-info is-light">
                                            <span class="icon">
                                                <i class="fa-solid fa-pencil"></i>
                                            </span>
                                            <span>อัพเดทข้อมูล</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons is-centered">
                <a href="{{url_for('users.cmte_admin_index')}}" class="button is-light">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>กลับ</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sponsors').DataTable({
            })
        });
    </script>
{% endblock %}
