{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
  <div class="container">
    <h1 class="title">อนุมัติกิจกรรม</h1>
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <div class="tabs is-boxed">
          <ul>
            <li {% if _type=='pending' %} class="is-active" {% endif %}><a href="{{url_for('cmte.admin_pending_events', _type='pending')}}">รออนุมัติ</a></li>
            <li {% if _type=='approved' %} class="is-active" {% endif %}><a href="{{url_for('cmte.admin_approved_events', _type='approved')}}">อนุมัติแล้ว</a></li>
          </ul>
        </div>
        <table id="events-table" class="table is-fullwidth">
          <thead>
          <th>ชื่อ</th>
          <th>เริ่มต้น</th>
          <th>สิ้นสุด</th>
          <th>สถานที่</th>
          <th>อัตราค่าธรรมเนียม</th>
          <th>สถาบัน</th>
          <th>วันที่ยื่น</th>
          <th>วันที่อนุมัติ</th>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="buttons is-centered">
          <a href="{{url_for('users.cmte_admin_index')}}" class="button is-light">
            <span class="icon">
              <i class="far fa-hand-point-left"></i>
            </span>
            <span>back</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $.fn.dataTable.moment('lll');
  $(document).ready(function (){
    $('#events-table').DataTable({
      ajax: {{url_for('cmte.get_events', _type=_type)|tojson|safe}},
      order: [[1, 'desc']],
      serverSide: true,
      columns: [
        {
          data: 'title',
          render: function (data, type, row) {
            return `<a href="${row['link']}">${data}</a>`
          },
          orderable: false
        },
        {
          data: 'start_date',
          render: function (data, type) {
            if (data !== null) {
              return moment(data).format('lll')
            } else {
              return null
            }
          },
          orderable: true
        },
        {
          data: 'end_date',
          render: function (data, type) {
            if (data !== null) {
              return moment(data).format('lll')
            } else {
              return null
            }
          },
          orderable: true
        },
        {data: 'venue', orderable: false},
        {data: 'fee_rate', orderable: false},
        {data: 'sponsor', orderable: false},
        {
          data: 'submitted_datetime',
          render: function (data, type) {
            if (data !== null) {
              return moment(data).format('lll')
            } else {
              return null
            }
          },
          orderable: true
        },
        {
          data: 'approved_datetime',
          render: function (data, type) {
            if (data !== null) {
              return moment(data).format('lll')
            } else {
              return null
            }
          },
          orderable: true
        },
      ]
    });
  })
</script>
{% endblock %}