{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Event Registration Preview</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
                <h2 class="title">{{event.event_type}}</h2>
                <h3 class="subtitle">{{event.title}}</h3>
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <td><strong>ประเภท</strong></td>
                        <td>{{event.event_type.category}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>ชนิด</strong></td>
                        <td>{{event.event_type}}</td>
                        <td>
                            <table class="table is-fullwidth is-bordered">
                                <tbody>
                                <tr>
                                    <td>เกณฑ์การให้คะแนน</td>
                                    <td>{{event.event_type.score_criteria}}</td>
                                </tr>
                                <tr>
                                    <td>คะแนนสูงสุดต่อครั้ง</td>
                                    <td>{{event.event_type.max_score}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>ชื่อกิจกรรม</strong></td>
                        <td>{{event.title}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>วันและเวลา</strong></td>
                        <td>{{event.start_date|localdatetime}} - {{event.end_date|localdatetime}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>สถานที่</strong></td>
                        <td>{{event.venue or 'ไม่ระบุ'}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Website</strong></td>
                        <td><a href="{{event.website}}">{{event.website or 'ไม่ระบุ'}}</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>อัตราค่าธรรมเนียมขออนุมัติจัดกิจกรรม</strong></td>
                        <td>{{event.fee_rate}}</td>
                        {% if event.payment_datetime %}
                        <td>ชำระเมื่อ {{event.payment_datetime|localdatetime}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>เอกสารประกอบ</strong></td>
                        <td>
                            <ul>
                                {% for doc in event.docs %}
                                <li>
                                    {{doc.filename}}
                                    <a href="{{url_for('cmte.download_file', key=doc.key, download_filename=doc.filename)}}">
                                    <span class="icon">
                                        <i class="fa-solid fa-file-arrow-down"></i>
                                    </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                    {% if event.approved_datetime %}
                    <tr>
                        <td><strong>คะแนนที่ได้รับอนุมัติ</strong></td>
                        <td id="cmtePointInput">
                            <h1 class="title is-size-3">{{event.cmte_points}} คะแนน</h1>
                        </td>
                        <td id="cmtePointBtn">
                            <a class="button is-light"
                               hx-get="{{url_for('cmte.get_cmte_point_input', event_id=event.id)}}"
                               hx-target="#cmtePointInput"
                               hx-swap="innerHTML"
                            >
                                <span class="icon">
                                    <i class="fa-solid fa-pencil"></i>
                                </span>
                                <span>แก้ไขคะแนน</span>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if event.payment_datetime and not event.approved_datetime %}
                    <tr>
                        <td>
                            <strong>คะแนนที่ได้รับอนุมัติ</strong>
                        </td>
                        <td colspan="2">
                            <form hx-confirm="ท่านต้องการอนุมัติกิจกรรมนี้ใช่หรือไม่"
                                  hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                  hx-post="{{url_for('cmte.approve_event', event_id=event.id, next=request.url)}}"
                            >
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input type="number" required step="0.1" class="input is-danger" name="cmte_points">
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button is-link">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                            <span>อนุมัติ</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>สร้างรหัสกิจกรรม</td>
                        <td>
                            <h1 class="title" id="event-code">
                                {{event.event_code}}
                            </h1>
                        </td>
                        <td id="event-code-form">
                            {% if event.event_code %}
                            <a class="button is-light" hx-get="{{url_for('cmte.admin_edit_event_code', event_id=event.id)}}"
                               hx-target="#event-code-form"
                               hx-swap="innerHTML"
                            >
                                <span class="icon">
                                    <i class="fa-solid fa-pencil"></i>
                                </span>
                                <span>แก้ไขรหัส</span>
                            </a>
                            {% else %}
                            <form hx-confirm="คุณต้องการใช้รหัสนี้สำหรับกิจกรรมหรือไม่"
                                  hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                  hx-indicator="#submit-btn"
                                  hx-post="{{url_for('cmte.admin_edit_event_code', event_id=event.id)}}"
                                  hx-target="#event-code"
                                  hx-swap="innerHTML"
                            >
                                <div class="field has-addons">
                                    <div class="control">
                                        <div class="select">
                                            {{form.code()}}
                                        </div>
                                        <p class="help is-danger">เมื่อบันทึกรหัสจะอัพเดตอัตโนมัติ</p>
                                    </div>
                                    <div class="control">
                                        <button type="submit" id="submit-btn" class="button is-success">
                                            <span class="icon">
                                                <i class="fa-solid fa-floppy-disk"></i>
                                            </span>
                                            <span>บันทึก</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
