{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}
<!--<style>-->
<!--    .dataTables_wrapper .dataTables_processing {-->
<!--        position: absolute !important;-->
<!--        top: 80% !important;-->
<!--    }-->
<!--</style>-->
{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        {% if event.approved_datetime %}
                        <li><a href="{{url_for('cmte.admin_approved_events')}}">Events</a></li>
                        {% else %}
                        <li><a href="{{url_for('cmte.admin_pending_events')}}">Events</a></li>
                        {% endif %}
                        <li class="is-active"><a href="#">Event Registration</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <h1 class="title has-text-centered">Admin Event Preview</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column">
                <table class="table is-fullwidth is-bordered">
                    <tbody>
                    <tr>
                        <td><strong>ชื่อกิจกรรม</strong></td>
                        <td>{{event.title}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>สถานะ</strong></td>
                        <td><span class="tag is-info is-medium">{{event.status}}</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>ประเภท</strong></td>
                        <td>{{event.event_type}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>ชนิด</strong></td>
                        <td>{{event.activity}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>ชื่อกิจกรรม</strong></td>
                        <td>{{event.title}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>วันและเวลา</strong></td>
                        <td>{{event.start_date|localdatetime}} - {{event.end_date|localdatetime}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>สถานที่</strong></td>
                        <td>{{event.venue or 'ไม่ระบุ'}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Website</strong></td>
                        <td><a href="{{event.website}}">{{event.website or 'ไม่ระบุ'}}</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>อัตราค่าธรรมเนียมขออนุมัติจัดกิจกรรม</strong></td>
                        <td>{{event.fee_rate}}</td>
                        {% if event.payment_datetime %}
                        <td>
                            {% if event.payment_slip %}
                            <a href="{{url_for('cmte.download_file', key=event.payment_slip.key, download_filename=event.payment_slip.filename)}}">
                                <span>
                                    ชำระเมื่อ {{event.payment_datetime|localdatetime}}
                                </span>
                                <span class="icon">
                                    <i class="fa-solid fa-file-arrow-down"></i>
                                </span>
                            </a>
                            {% if not event.payment_approved_at %}
                            <div id="confirm_payment">
                                <a class="button is-success" hx-post="{{url_for('cmte.admin_confirm_payment', event_id=event.id)}}"
                                   hx-indicator="this"
                                   hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                   hx-target="#confirm_payment" hx-swap="innerHTML">
                                    <span class="icon">
                                        <i class="fa-solid fa-check"></i>
                                    </span>
                                    <span>ยืนยันการชำระเงิน</span>
                                </a>
                            </div>
                            {% else %}
                            <span class="tag is-rounded is-small is-success">{{event.payment_approved_at|localdatetime}}</span>
                            {% endif %}
                            {% endif %}
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>เอกสารประกอบ</strong></td>
                        <td class="content">
                            <ol>
                                {% for doc in event.docs %}
                                {% if not doc.is_payment_slip %}
                                <li>
                                    {{doc.filename}}
                                    <a href="{{url_for('cmte.download_file', key=doc.key, download_filename=doc.filename)}}">
                                    <span class="icon">
                                        <i class="fa-solid fa-file-arrow-down"></i>
                                    </span>
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>ข้อมูลผู้ประสานงาน</strong></td>
                        <td>
                            <ul>
                                <li>
                                    <span class="icon">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <span>{{event.coord_name}}</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <span>{{event.coord_email}}</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fa-solid fa-phone"></i>
                                    </span>
                                    <span>{{event.coord_phone}}</span>
                                </li>
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                    {% if event.approved_datetime %}
                    <tr>
                        <td><strong>คะแนนที่ได้รับอนุมัติ</strong></td>
                        <td id="cmtePointInput">
                            <h1 class="title is-size-3">{{event.cmte_points}} คะแนน</h1>
                            <h1 class="subtitle is-size-6">เมื่อ {{event.approved_datetime|localdatetime}}</h1>
                        </td>
                        <td id="cmtePointBtn">
                            <div class="buttons">
                                <a class="button is-light"
                                   hx-get="{{url_for('cmte.get_cmte_point_input', event_id=event.id)}}"
                                   hx-target="#cmtePointInput"
                                   hx-indicator="this"
                                   hx-swap="innerHTML"
                                >
                                    <span class="icon">
                                        <i class="fa-solid fa-pencil"></i>
                                    </span>
                                    <span>แก้ไขคะแนน</span>
                                </a>
                                <a class="button is-danger"
                                   hx-delete="{{url_for('cmte.unapprove_event', event_id=event.id)}}"
                                   hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                   hx-indicator="this"
                                   hx-confirm="คุณแน่ใจว่าต้องการยกเลิกการอนุมัติคะแนน"
                                >
                                    <span class="icon">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </span>
                                    <span>ยกเลิกการอนุมัติ</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>ส่งรายชื่อเพื่อขออนุมัติคะแนนภายในวันที่</strong></td>
                        <td>{{event.submission_due_date|localdate}}</td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% if event.payment_datetime and not event.approved_datetime %}
                    <tr>
                        <td>รายการขอรายละเอียดเพิ่มเติม</td>
                        <td id="request-message">{{event.info_request or ""}}</td>
                        <td>
                            {% if not event.approved_datetime %}
                            <button class="button is-warning"
                                    hx-indicator="this"
                                    hx-target="#request-message"
                                    hx-swap="innerHTML"
                                    hx-get="{{url_for('cmte.admin_request_info', event_id=event.id)}}">
                                <span class="icon">
                                    <i class="fas fa-reply"></i>
                                </span>
                                <span>Send Request</span>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% if event.payment_datetime and event.payment_approved_at %}
                    <tr>
                        <td>
                            <strong>คะแนนที่ได้รับอนุมัติ</strong>
                        </td>
                        <td colspan="2">
                            <form hx-confirm="ท่านต้องการอนุมัติกิจกรรมนี้ใช่หรือไม่"
                                  hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                  hx-post="{{url_for('cmte.approve_event', event_id=event.id, next=request.url)}}"
                            >
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input {% if not event.submitted_datetime %} disabled {% endif %}
                                               type="number"
                                               required step="0.1"
                                               class="input is-danger"
                                               name="cmte_points" />
                                    </div>
                                    <div class="control">
                                        <button {% if not event.submitted_datetime %} disabled {% endif %} type="submit" class="button is-link">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                            <span>อนุมัติ</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    <tr>
                        <td>สร้างรหัสกิจกรรม</td>
                        <td>
                            <h1 class="title" id="event-code">
                                {{event.event_code}}
                            </h1>
                        </td>
                        <td id="event-code-form">
                            {% if event.event_code %}
                            <a class="button is-light" hx-get="{{url_for('cmte.admin_edit_event_code', event_id=event.id)}}"
                               hx-target="#event-code-form"
                               hx-swap="innerHTML"
                            >
                                <span class="icon">
                                    <i class="fa-solid fa-pencil"></i>
                                </span>
                                <span>แก้ไขรหัส</span>
                            </a>
                            {% else %}
                            <form hx-confirm="คุณต้องการใช้รหัสนี้สำหรับกิจกรรมหรือไม่"
                                  hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                                  hx-indicator="#submit-btn"
                                  hx-post="{{url_for('cmte.admin_edit_event_code', event_id=event.id)}}"
                                  hx-target="#event-code"
                                  hx-swap="innerHTML"
                            >
                                <div class="field has-addons">
                                    <div class="control">
                                        <div class="select">
                                            {{form.code()}}
                                        </div>
                                        <p class="help is-danger">เมื่อบันทึกรหัสจะอัพเดตอัตโนมัติ</p>
                                    </div>
                                    <div class="control">
                                        <button type="submit" id="submit-btn" class="button is-success">
                                            <span class="icon">
                                                <i class="fa-solid fa-floppy-disk"></i>
                                            </span>
                                            <span>บันทึก</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons is-centered">
                    <a class="button is-danger"
                       hx-headers='{"X-CSRF-Token": {{csrf_token()|tojson|safe}} }'
                       hx-delete="{{url_for('cmte.admin_event_edit', event_id=event.id)}}"
                       hx-confirm="คุณแน่ใจว่าต้องการลบกิจกรรมนี้ ข้อมูลจะไม่สามารถกู้กลับได้"
                    >
                    <span class="icon">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </span>
                        <span>ลบกิจกรรม</span>
                    </a>
                    <a class="button is-outlined is-dark" href="{{url_for('cmte.admin_event_edit', event_id=event.id)}}">
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span>แก้ไขข้อมูลกิจกรรม</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons is-centered">
                    <a class="button is-success" hx-get="{{url_for('cmte.edit_participants', event_id=event.id)}}"
                       hx-target="#participant-form"
                       hx-swap="innerHTML"
                    >
                        <span class="icon">
                            <i class="fa-solid fa-user-plus"></i>
                        </span>
                        <span>เพิ่มรายชื่อผู้เข้าร่วม</span>
                    </a>
                    หรือ
                    <form class="notification is-light"
                          method="post"
                          action="{{url_for('cmte.add_participants', event_id=event.id, source='admin')}}" enctype="multipart/form-data"
                    >
                        {{participant_form.hidden_tag()}}
                        <div class="field">
                            <label class="label">Upload รายชื่อ</label>
                            <div class="control">
                                {{participant_form.upload_file()}}
                                <p class="help is-danger">กรุณาใช้ template file ในการส่งข้อมูล</p>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input id="upload-btn" type="submit" value="Upload" class="button is-small is-success">
                            </div>
                            <div class="control">
                                <a class="button is-small is-light" href="{{url_for('cmte.get_participants_template_file')}}">
                                    <span class="icon">
                                        <i class="fas fa-file-download"></i>
                                    </span>
                                    <span>template file</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div id="participant-form"></div>
                {% if errors %}
                    {{errors|safe}}
                {% endif %}
                <h1 class="title is-size-4">รายชื่อผู้เข้าร่วม</h1>
                <div id="participant-table">
                    <table class="table" id="participant-list-table">
                        <thead>
                        <th>ชื่อ</th>
                        <th>หมายเลขใบอนุญาต (ท.น.)</th>
                        <th>คะแนนที่ได้รับ</th>
                        <th>เพิ่มเมื่อ</th>
                        <th>อนุมัติเมื่อ</th>
                        <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="buttons is-centered">
                        <a hx-delete="{{url_for('cmte.approve_event_participation_records', event_id=event.id)}}"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
                           hx-confirm="คุณแน่ใจว่าจะอนุมัติทุกรายการหรือไม่"
                           class="button is-danger">
                            <span class="icon">
                                <i class="fas fa-times"></i>
                            </span>
                            <span>
                                ยกเลิกการอนุมัติทั้งหมด
                            </span>
                        </a>
                        <a hx-post="{{url_for('cmte.approve_event_participation_records', event_id=event.id)}}"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
                           hx-confirm="คุณแน่ใจว่าจะอนุมัติทุกรายการหรือไม่"
                           class="button is-info">
                            <span class="icon">
                                <i class="fas fa-check"></i>
                            </span>
                            <span>
                                อนุมัติทั้งหมด
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $.fn.dataTable.moment('lll');
    $(document).ready(()=>{
        $('#participant-list-table').DataTable({
            ajax: {{url_for('cmte.admin_preview_event_participants', event_id=event.id)|tojson|safe}},
            processing: true,
            serverSide: true,
            drawCallback: function (settings) {
                htmx.process(htmx.find('#participant-table'))
            },
                columns: [
            {data: 'name'},
            {data: 'license_number'},
            {data: 'score'},
            {
                data: 'created_at',
                render: function (data, type) {
                    if (data) {
                        return moment(data).format('lll')
                    } else {
                        return null
                    }
                }
            },
            {
                data: 'approved_at',
                render: function (data, type) {
                    if (data) {
                        return moment(data).format('ll')
                    } else {
                        return "รออนุมัติ"
                    }
                }
            },
            {data: 'actions'}
        ],
        });
    })
</script>
{% endblock %}
