{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Fee Payment Form</h1>
        <h1 class="subtitle has-text-centered">เพิ่ม/แก้ไขรายการชำระค่าธรรมเนียม CMTE</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-half is-offset-3 box">
                <form method="post">
                    {{form.hidden_tag()}}
                    <div class="field">
                        <label class="label">{{form.license_number.label}}</label>
                        <div class="control">
                            {{form.license_number(class="input", type="text", required=True)}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.payment_datetime.label}}</label>
                        <div class="control">
                            {{form.payment_datetime(class="input", type="text", required=True)}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="is-grouped is-grouped-centered">
                            <a href="{{url_for('users.cmte_admin_index')}}" class="button is-light">Cancel</a>
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Active Payment Records</h1>
                <table id="active-payment-table" class="table is-bordered is-fullwidth">
                    <thead>
                    <th>License ID</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Payment Date Time</th>
                    <th></th>
                    </thead>
                    {% for record in active_payments %}
                    <tr>
                        <td>{{record.license_number}}</td>
                        <td>{{record.start_date}}</td>
                        <td>{{record.end_date}}</td>
                        <td>{{record.payment_datetime|localdatetime}}</td>
                        <td>
                            <a class="button">
                                <span class="icon">
                                   <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(function() {
        new DataTable('#active-payment-table');
        $("input[name='payment_datetime']").daterangepicker({
            buttonClasses: 'button is-small',
            applyButtonClasses: 'is-link',
            cancelButtonClasses: 'is-light',
            {% if not form.payment_datetime.data %}
            startDate: moment(),
            {% else %}
            startDate: {{form.payment_datetime.data.strftime('%d/%m/%Y %H:%M')|tojson|safe}},
            {% endif %}
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 30,
            singleDatePicker: true,
            locale: {
            format: 'DD/MM/YYYY HH:mm'
            }
        })
    });
</script>
{% endblock %}
