{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <article class="panel is-info">
                    <p class="panel-heading">Admin</p>
                    <a class="panel-block" href="{{url_for('cmte.all_requests', tab='new')}}">
                        ขอขึ้นทะเบียน /ต่ออายุสถาบัน
                        <span class="tag is-success is-rounded">{{pending_requests or 0}}</span>
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.admin_pending_events')}}">
                        อนุมัติกิจกรรม
                        <span class="tag is-success is-rounded">{{pending_events or 0}}</span>
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.admin_individual_score_index')}}">
                        อนุมัติคะแนนส่วนบุคคล
                        <span class="tag is-success is-rounded">{{pending_individual_records or 0}}</span>
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.admin_edit_fee_payment_record')}}">
                        รายการชำระค่าธรรมเนียมกิจกรรมรายบุคคล
                        <span class="tag is-success is-rounded">{{pending_payments or 0}}</span>
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.admin_event_edit')}}">
                        เพิ่มกิจกรรม
                    </a>
<!--                    <a class="panel-block" href="#">-->
<!--                        จัดการประเภทและชนิดกิจกรรม-->
<!--                    </a>-->
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}