{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Welcome to CMTE.</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <article class="panel is-info">
                    <p class="panel-heading">Admin</p>
                    <a class="panel-block" href="{{url_for('cmte.pending_events')}}">
                        <span class="panel-icon">
                            <i class="fas fa-check"></i>
                        </span>
                        อนุมัติกิจกรรม
                    </a>
                    <a class="panel-block" href="{{url_for('index')}}">
                        <span class="panel-icon">
                            <i class="fas fa-door-closed"></i>
                        </span>
                        ออก
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}