{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <article class="panel is-info">
                    <p class="panel-heading">Admin</p>
                    <a class="panel-block" href="{{url_for('cmte.pending_events')}}">
                        อนุมัติกิจกรรม
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.admin_edit_fee_payment_record')}}">
                        เพิ่มรายการชำระค่าธรรมเนียมรายบุคคล
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.admin_event_edit')}}">
                        เพิ่มกิจกรรม
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}