{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
  <div class="container">
    <h1 class="title">Welcome to CMTE.</h1>
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <table id="events-table" class="table is-fullwidth">
          <thead>
          <th>ชื่อ</th>
          <th>ท.น.</th>
          <th>รายละเอียด</th>
          <th>เริ่ม</th>
          <th>สิ้นสุด</th>
          <th>วันที่ยื่น</th>
          <th>เอกสารประกอบ</th>
          </thead>
          <tbody>
          <tr>
            <td>{{record.license.member}}</td>
            <td>{{record.license_number}}</td>
            <td>{{record.desc}}</td>
            <td>{{record.start_date}}</td>
            <td>{{record.end_date}}</td>
            <td>{{record.create_datetime|localdatetime}}</td>
            <td>
              <table class="table is-bordered">
                <thead>
                <th>คำอธิบาย</th>
                <th>ไฟล์</th>
                </thead>
                <tbody>
                {% for doc in record.docs %}
                <tr>
                  <td>{{doc.note}}</td>
                  <td>
                    <a href="{{url_for('cmte.download_file', key=doc.key, download_filename=doc.filename)}}">
                      <span class="icon">
                          <i class="fa-solid fa-file-arrow-down"></i>
                      </span>
                      <span>
                        {{doc.filename}}
                      </span>
                    </a>
                  </td>
                </tr>
                </tbody>
                {% endfor %}
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="title is-size-5">รายการชำระเงินค่าธรรมเนียม</h1>
        <p class="notification is-warning is-light">
          {% set payment = record.license.get_active_cmte_fee_payment() %}
          {% if payment and payment.payment_datetime %}
            ชำระเมื่อ {{payment.payment_datetime|localdatetime}} ใช้ได้ตั้งแต่ {{payment.start_date|localdate}} - {{payment.end_date|localdate}}
          {% elif payment and not payment.payment_datetime %}
          ชำระเมื่อ {{payment.note}} <span class="tag is-danger is-rounded">รอตรวจสอบ</span>
            <div class="buttons">
              <a class="button" href="{{url_for('cmte.download_file', key=payment.doc.key, download_filename=payment.doc.filename)}}">
                    <span class="icon">
                      <i class="fa-solid fa-file-arrow-down"></i>
                    </span>
                <span>Slip หลักฐานการโอนเงิน</span>
              </a>
              <a href="{{url_for('cmte.admin_edit_fee_payment_record', record_id=payment.id, next=request.url)}}" class="button is-success">อนุมัติการชำระเงิน</a>
            </div>
          {% else %}
          ยังไม่มีรายการชำระเงินค่าธรรมเนียม
          {% endif %}
        </p>
      </div>
    </div>
    {% if payment and payment.payment_datetime %}
    <div class="columns">
      <div class="column is-one-third">
        <form method="post" class="box">
          <h1 class="title is-size-4">อนุมัติ</h1>
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <input type="hidden" name="approved" value="true">
          <div class="field">
            <label class="label">คะแนน</label>
            <div class="control">
              <input type="number" step="any" name="score" class="input">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-success">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-one-third">
        <form method="post" class="box">
          <h1 class="title is-size-4">ไม่อนุมัติ</h1>
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <input type="hidden" name="approved" value="false">
          <div class="field">
            <label class="label">เหตุผล</label>
            <div class="control">
              <textarea name="reason" class="textarea"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-danger">Reject</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% else %}
    <span>จะสามารถอนุมัติคะแนนได้เมื่อมีรายการชำระเงิน กรุณาตรวจสอบหลักฐานการโอนเงิน</span>
    {% endif %}
  </div>
</section>
{% endblock %}