{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
  <div class="container">
    <h1 class="title">Admin Individual Scores</h1>
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <table id="events-table" class="table is-fullwidth">
          <thead>
          <th>ชื่อ</th>
          <th>ท.น.</th>
          <th>รายละเอียด</th>
          <th>วันที่ยื่น</th>
          <th></th>
          </thead>
          <tbody>
          {% for record in records %}
          <tr>
            <td>{{record.license.member}}</td>
            <td>{{record.license_number}}</td>
            <td>{{record.desc}}</td>
            <td>{{record.create_datetime|localdatetime}}</td>
            <td>
              <a href="{{url_for('cmte.admin_individual_score_detail', record_id=record.id)}}"
                 class="button is-link">รายละเอียด</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $(document).ready(function () {
    $('#events-table').DataTable();
  })
</script>
{% endblock %}