{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active"><a>รออนุมัติ</a></li>
            <li><a href="{{url_for('cmte.admin_approved_events')}}">อนุมัติแล้ว</a></li>
          </ul>
        </div>
        <table id="events-table" class="table is-fullwidth">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $(document).ready(function (){
    $('#events-table').DataTable();
  })
</script>
{% endblock %}
