{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active"><a>รออนุมัติ</a></li>
            <li><a href="{{url_for('cmte.admin_approved_events')}}">อนุมัติแล้ว</a></li>
          </ul>
        </div>
        <table id="events-table" class="table is-fullwidth">
          <thead>
          <th>ชื่อกิจกรรม</th>
          <th>เริ่ม - สิ้นสุด</th>
          <th>ชนิดกิจกรรม</th>
          <th>ค่าธรรมเนียม</th>
          <th>รายละเอียด</th>
          </thead>
          <tbody>
          {% for evt in events %}
          <tr>
            <td>{{evt.title}}</td>
            <td>{{evt.start_date|localdatetime}} - {{evt.end_date|localdatetime}}</td>
            <td>{{evt.event_type}}</td>
            <td>{{evt.fee_rate}}</td>
            <td>
              <a class="button is-link is-outlined is-small" href="{{url_for('cmte.admin_preview_event', event_id=evt.id)}}">
                <span class="icon">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
                <span>รายละเอียด</span>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="buttons is-centered">
          {% if next_url %}
          <button class="button is-dark is-outlined">
            <span>Load More</span>
            <span class="icon">
              <i class="fa-solid fa-spinner"></i>
            </span>
          </button>
          {% else %}
          All pending events
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $(document).ready(function (){
    $('#events-table').DataTable();
  })
</script>
{% endblock %}
