{% extends "base.html" %}

{% block content %}
{% include "cmte/admin_nav.html" %}
    <section class="section">
        <div class="container">
            <h1 class="title">ข้อมูลสถาบัน</h1>
            {% include 'messages.html' %}
            <div class="columns">
                <div class="column">
                    <div class="tabs is-boxed">
                        <ul>
                            <li {% if tab == 'new' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('cmte.all_sponsor', tab='new') }}">
                                    <span class="icon is-small"><i class="fas fa-hourglass-half"></i></span>
                                    <span>ขอขึ้นทะเบียน</span>
                                </a>
                            </li>
                            <li {% if tab == 'renew' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('cmte.all_sponsor', tab='renew') }}">
                                    <span class="icon is-small"><i class="fas fa-history"></i></span>
                                    <span>ต่ออายุ</span>
                                </a>
                            </li>
                            <li {% if tab == 'all' %}class="is-active"{% endif %}>
                                <a href="{{ url_for('cmte.all_sponsor', tab='all') }}">
                                    <span class="icon is-small"><i class="fas fa-list"></i></span>
                                    <span>ทั้งหมด</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <table id="sponsors" class="table is-fullwidth">
                        <thead>
                        <th>รหัส</th>
                        <th>สถาบัน</th>
                        <th>วันที่ขึ้นทะเบียน</th>
                        <th>วันที่หมดอายุ</th>
                        <th>สถานะ</th>
                        <th></th>
                        </thead>
                        <tbody>
                            {% for sponsor in sponsors %}
                                <tr>
                                    <td>{{ sponsor.code }}</td>
                                    <td style="width: 20em;" {% if not sponsor.registered_datetime %}class="has-text-danger"{% endif %}>{{ sponsor.name }}</td>
                                    <td>{{ sponsor.registered_datetime|localdatetime or ''}}</td>
                                    <td>{{ sponsor.expire_date|localdate or '' }}</td>
                                    <td {% if sponsor.expire_status() == 'expired'%}
                                            class="has-text-danger"
                                        {% elif sponsor.expire_status() == 'nearly_expire'%}
                                            class="has-text-warning" {% endif %}>
                                        {{ sponsor.expire_status() }}
                                    </td>
                                    <td>
                                        <div id="sponsor-modal-container"></div>
                                        <a hx-get="{{ url_for('cmte.sponsor_modal', sponsor_id=sponsor.id) }}" hx-target="#sponsor-modal-container" hx-swap="innerHTML"
                                            class="button is-success">
                                            <span class="icon">
                                                <i class="fa-solid fa-pencil"></i>
                                            </span>
                                            <span>แก้ไข</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons is-centered">
                <a href="{{url_for('users.cmte_admin_index')}}" class="button is-light">
                    <span class="icon">
                      <i class="far fa-arrow-left"></i>
                    </span>
                    <span>กลับ</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#sponsors').DataTable({
            })
        });
    </script>
{% endblock %}
