<div class="modal is-active animate__animated" id="reject-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">ปฏิเสธคำขอขึ้นทะเบียนสถาบัน {{ request.sponsor }}</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form hx-post="{{ url_for('cmte.reject_sponsor', sponsor_id=sponsor_id, request_id=request_id) }}">
                {{ form.hidden_tag() }}
                <div class="field">
                    <label class="label">เหตุผล</label>
                    <div class="control">
                        {{ form.comment(class="input", required=True) }}
                    </div>
                </div>
                <button class="button" id="cancel-btn">Cancel</button>
                <button class="button is-success" id="save-btn" type="submit">Save</button>
            </form>
        </section>
    </div>
</div>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#reject-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#reject-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#reject-modal'), 'is-active')
    })
</script>
