{% extends "base.html" %}

{% block content %}
{% include "members/cmte/nav.html" %}
<section class="section">
    <div class="container">
        <h1 class="title">ระบบสารสนเทศการศึกษาต่อเนื่องเทคนิคการแพทย์</h1>
        <h1 class="subtitle">ศูนย์การศึกษาต่อเนื่องเทคนิคการแพทย์</h1>
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third is-offset-1">
                <article class="panel is-danger">
                    <p class="panel-heading">สมาชิก</p>
                    <a class="panel-block" href="{{url_for('member.individual_score_index')}}">
                        ขออนุมัติคะแนนรายบุคคล
                    </a>
                    <a class="panel-block" href="{{url_for('cmte.register_event')}}">
                        ตรวจสอบคะแนน
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}