{% extends "base.html" %}

{% block content %}
{% include "members/cmte/nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">ยื่นขออนุมัติคะแนนส่วนบุคคล</h1>
                {% include "messages.html" %}
                <form method="post" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="field">
                        <label class="label">{{form.desc.label}}</label>
                        <div class="control">
                            {{form.desc(class="textarea is-danger")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">รายชื่อสมาชิก</label>
                        <div class="control">
                            <select multiple="multiple" name="licenses" class="js-example-basic-multiple"></select>
                        </div>
                    </div>
                    {% for f_field in form.upload_files %}
                        <div class="field">
                            {{f_field()}}
                        </div>
                    {% endfor %}
                    <div class="field is-grouped">
                        <div class="control">
                            <a class="button is-light" href="{{url_for('member.individual_score_index')}}">Cancel</a>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            width: "100%",
            ajax: {
                url: {{url_for('member.get_members')|tojson|safe}},
                dataType: 'json'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            }
        }
        );
    });
</script>
{% endblock %}
