{% extends "base.html" %}

{% block content %}
{% include "members/cmte/nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
                <h1 class="title has-text-centered">กิจกรรมสำหรับขออนุมัติคะแนนแบบกลุ่ม</h1>
                <h1 class="subtitle has-text-centered">สมาชิกสามารถยื่นขอคะแนนให้ตนเองและผู้อื่นได้</h1>
                <table class="table is-fullwidth">
                    <thead>
                    <th>ชนิดกิจกรรม</th>
                    <th>ประเภทกิจกรรม</th>
                    <th>รายละเอียด</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{activity.name}}</td>
                        <td>{{activity.event_type}}</td>
                        <td>{{activity.detail}}</td>
                        <td>
                            <a class="button is-primary" href="{{url_for('member.individual_score_group_form', activity_id=activity.id)}}">
                                ยื่นคะแนน
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h1 class="title has-text-centered is-size-4">รายการคำขอทั้งหมด</h1>
                <table class="table is-fullwidth">
                    <thead>
                    <th>รายละเอียด</th>
                    <th>รายชื่อ</th>
                    <th>วันที่ยื่น</th>
                    <th>สถานะ</th>
                    <th></th>
                    </thead>
                    <tbody>
                        {% for rec in records %}
                        <tr>
                            <td>
                                {% if rec.status in ['ฉบับร่าง', 'รออนุมัติ'] %}
                                <a href="{{ url_for('member.edit_individual_score_group_form', group_record_id=rec.id) }}">
                                    <span>
                                        {{rec.detail}}
                                    </span>
                                    <span class="icon">
                                        <i class="fa-solid fa-pencil"></i>
                                    </span>
                                </a>
                                {% else %}
                                {{rec.detail}}
                                {% endif %}
                            </td>
                            <td>{{ rec.participants|join(', ') }}</td>
                            <td>{{rec.create_datetime|localdatetime}}</td>
                            <td>{{rec.status}}</td>
                            <td>
                                {% if rec.status == 'ฉบับร่าง' %}
                                    <a class="button is-warning is-light" href="{{ url_for('member.edit_individual_score_group_form', group_record_id=rec.id) }}">
                                        <span class="icon">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </span>
                                        <span>แก้ไขแบบร่าง</span>
                                    </a>
                                    <a class="button is-danger"
                                       hx-delete="{{ url_for('member.delete_individual_score_group_record', group_record_id=rec.id) }}"
                                       hx-confirm="ต้องการลบแบบร่างนี้หรือไม่"
                                       hx-target="closest tr"
                                       hx-swap="outerHTML"
                                       hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'>
                                        <span class="icon">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </span>
                                        <span>ลบ</span>
                                    </a>
                                {% elif rec.status == 'รออนุมัติ' %}
                                    {% if rec.active_info_requests %}
                                        <a class="button is-link" href="{{ url_for('member.edit_individual_score_group_form', group_record_id=rec.id) }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </span>
                                            <span>ดำเนินการแก้ไข</span>
                                        </a>
                                        <a class="button is-success" href="{{ url_for('member.list_individual_group_score_info_requests', next=request.url, record_id=rec.id) }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-info"></i>
                                            </span>
                                            <span>ส่งขออนุมัติอีกครั้ง</span>
                                        </a>
                                    {% else %}
                                        <a class="button is-link is-light" href="{{ url_for('member.edit_individual_score_group_form', group_record_id=rec.id) }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-file-pen"></i>
                                            </span>
                                            <span>แก้ไข</span>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a class="button is-light" href="{{ url_for('member.individual_score_group_detail', record_id=rec.id) }}">
                                        <span class="icon">
                                            <i class="fa-solid fa-eye"></i>
                                        </span>
                                        <span>ดูข้อมูล</span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons is-centered">
                    <a href="{{url_for('member.index')}}" class="button is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>กลับ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
