{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "members/cmte/nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <h1 class="title has-text-centered">ยื่นขออนุมัติคะแนนส่วนบุคคล</h1>
                {% include "messages.html" %}
                {% if record.active_info_requests %}
                    <table class="table is-fullwidth is-bordered">
                    <thead>
                    <th>รายละเอียด</th>
                    <th>วันที่ขอ</th>
                    </thead>
                    <tbody>
                    {% for req in record.active_info_requests %}
                        <tr style="background-color: orange">
                            <td>{{ req.detail }}</td>
                            <td>{{ req.created_at|localdate }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="field">
                        <label class="label">{{form.start_date.label}}</label>
                        <div class="control">
                            {{form.start_date(class="input", type="text")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.end_date.label}}</label>
                        <div class="control">
                            {{form.end_date(class="input", type="text")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.event_type.label }}</label>
                        <div class="select">
                            {{ form.event_type(**{'hx-get': url_for('member.get_activity_field'), 'hx-trigger': 'change', 'hx-swap': 'outerHTML', 'hx-target': '#activity_field'}) }}
                        </div>
                    </div>
                    <div class="field">
                        <div id="activity_field"></div>
                    </div>
                    <div class="field">
                        <div id="activity_detail"></div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.desc.label}}</label>
                        <div class="control">
                            {{form.desc(class="textarea is-danger")}}
                        </div>
                    </div>
                    <table class="table is-bordered">
                        <thead>
                        <th>คำอธิบาย</th>
                        <th>ไฟล์</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for doc in record.docs %}
                            <tr>
                                <td>{{ doc.note }}</td>
                                <td>
                                    <a href="{{ url_for('cmte.download_file', key=doc.key, download_filename=doc.filename) }}">
                                      <span class="icon">
                                          <i class="fa-solid fa-file-arrow-down"></i>
                                      </span>
                                        <span>
                                        {{ doc.filename }}
                                      </span>
                                    </a>
                                </td>
                                <td>
                                    <a hx-delete="{{ url_for('member.delete_file', doc_id=doc.id) }}"
                                       hx-target="closest tr"
                                       hx-swap="outerHTML"
                                       hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
                                       hx-confirm="คุณต้องการลบไฟล์นี้ใช่หรือไม่">
                                        <span class="icon">
                                            <i class="fa-solid fa-trash has-text-danger"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% for f_field in form.upload_files %}
                        <div class="field">
                            {{f_field()}}
                        </div>
                    {% endfor %}
                    <div class="field is-grouped">
                        <div class="control">
                            <a class="button is-light" href="{{url_for('member.individual_score_index')}}">Cancel</a>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    $("input[name='end_date']").daterangepicker({
        buttonClasses: 'button is-small',
        applyButtonClasses: 'is-link',
        cancelButtonClasses: 'is-light',
        startDate: moment(),
        timePicker: false,
        singleDatePicker: true,
        locale: {
        format: 'DD/MM/YYYY'
    }
    })
    $("input[name='start_date']").daterangepicker({
        buttonClasses: 'button is-small',
        applyButtonClasses: 'is-link',
        cancelButtonClasses: 'is-light',
        startDate: moment(),
        timePicker: false,
        singleDatePicker: true,
        locale: {
            format: 'DD/MM/YYYY'
        }
    })
    $(document).ready(()=>{
        htmx.trigger('#event_type', 'change')
    })
</script>
{% endblock %}
