{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
{% include "members/cmte/nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <h1 class="title has-text-centered">ยื่นขออนุมัติคะแนนส่วนบุคคล</h1>
                {% include "messages.html" %}
                <form method="post" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="field">
                        <label class="label">{{form.start_date.label}}</label>
                        <div class="control">
                            {{form.start_date(class="input", type="text")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.end_date.label}}</label>
                        <div class="control">
                            {{form.end_date(class="input", type="text")}}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.event_type.label }}</label>
                        <div class="select">
                            {{ form.event_type(**{'hx-get': url_for('member.get_activity_field'), 'hx-trigger': 'change', 'hx-swap': 'outerHTML', 'hx-target': '#activity_field'}) }}
                        </div>
                    </div>
                    <div class="field">
                        <div id="activity_field"></div>
                    </div>
                    <div class="field">
                        <div id="activity_detail"></div>
                    </div>
                    <div class="field">
                        <label class="label">{{form.desc.label}}</label>
                        <div class="control">
                            {{form.desc(class="textarea is-danger")}}
                        </div>
                    </div>
                    {% for f_field in form.upload_files %}
                        <div class="field">
                            {{f_field()}}
                        </div>
                    {% endfor %}
                    <div class="field is-grouped">
                        <div class="control">
                            <a class="button is-light" href="{{url_for('member.individual_score_index')}}">Cancel</a>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    $("input[name='end_date']").daterangepicker({
        buttonClasses: 'button is-small',
        applyButtonClasses: 'is-link',
        cancelButtonClasses: 'is-light',
        startDate: moment(),
        timePicker: false,
        singleDatePicker: true,
        locale: {
        format: 'DD/MM/YYYY'
    }
    })
    $("input[name='start_date']").daterangepicker({
        buttonClasses: 'button is-small',
        applyButtonClasses: 'is-link',
        cancelButtonClasses: 'is-light',
        startDate: moment(),
        timePicker: false,
        singleDatePicker: true,
        locale: {
            format: 'DD/MM/YYYY'
        }
    })
    $(document).ready(()=>{
        htmx.trigger('#event_type', 'change')
    })
</script>
{% endblock %}
