{% extends "base.html" %}

{% block content %}
{% include "members/cmte/nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">สรุปการอนุมัติคะแนนการศึกษาต่อเนื่อง</h1>
                {% include "messages.html" %}
                <div class="tabs is-boxed">
                    <ul>
                        <li {% if filter=='approved' %}class="is-active"{% endif %}><a href="{{url_for('member.summarize_cmte_scores', filter='approved')}}">อนุมัติแล้ว</a></li>
                        <li {% if filter=='approved_valid' %}class="is-active"{% endif %}><a href="{{url_for('member.summarize_cmte_scores', filter='approved_valid')}}">อนุมัติแล้วสำหรับรอบ</a></li>
                        <li {% if filter=='pending' %}class="is-active"{% endif %}><a href="{{url_for('member.summarize_cmte_scores', filter='pending')}}">รออนุมัติ<span class="tag is-rounded is-danger">{{pending_record_counts}}</tag></span></a></li>
                        <li {% if filter=='' %}class="is-active"{% endif %}><a href="{{url_for('member.summarize_cmte_scores')}}">ทั้งหมด</a></li>
                    </ul>
                </div>
                {{score_table|safe}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
