<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="htmx-config" content='{"requestClass": "is-loading"}'>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.17/bulma/bulma.css"/>
    <link href="https://cdn.datatables.net/v/bm/dt-2.1.7/datatables.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block footer %}
<div class="container">
    <h1 class="title is-size-6 has-text-centered has-text-danger">
        ระบบสมาชิกจะเริ่มทดลองใช้งานตั้งแต่วันที่ 15 ตุลาคม 2567 เป็นต้นไป
    </h1>
    {% if config['DEBUG'] %}
    <article class="message is-warning">
        <div class="message-header">
            DEBUG MODE
        </div>
        <div class="message-body">
            <strong>Template file:</strong> {{ self._TemplateReference__context.name }}
        </div>
    </article>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/v/bm/dt-2.1.7/datatables.min.js"></script>
<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>
{% endblock %}
</body>
</html>