{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column has-text-centered">
      {% include "messages.html" %}
      {% if current_user.is_authenticated %}
      <p>
        Welcome {{ current_user.username }}!
      </p>
      <div class="buttons is-centered">
        <a href="{{url_for('users.register_user')}}" class="button is-primary">Register Admin</a>
        <a href="{{url_for('member.admin_index')}}" class="button is-primary">Member Admin</a>
        <a href="{{url_for('users.register_client')}}" class="button is-primary">Register client</a>
        <a href="{{url_for('users.logout')}}" class="button is-danger">Log out</a>
      </div>
      {% else %}
      <a href="{{url_for('users.login')}}" class="button is-primary">Log in</a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}