{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">ระบบสารสนเทศสภาเทคนิคการแพทย์</p>
    <div class="grid">
      <div class="cell box has-text-centered">
        <a href="{{url_for('member.index')}}">
        <figure class="image is-128x128 is-inline-block">
            <img src="{{url_for('static', filename='study.png')}}" />
        </figure>
        </a>
        <h1 class="title is-size-4 has-text-dark mt-4">สมาชิก</h1>
      </div>
      <div class="cell box has-text-centered">
        <a href="{{url_for('cmte.cmte_index')}}">
        <figure class="image is-128x128 is-inline-block">
            <img src="{{url_for('static', filename='education.png')}}" />
        </figure>
        </a>
        <h1 class="title is-size-4 has-text-dark mt-4">
          สถาบันจัดฝึกอบรมการศึกษาต่อเนื่อง
        </h1>
      </div>
      <div class="cell box has-text-centered">
        <a href="{{url_for('users.admin_index')}}">
        <figure class="image is-128x128 is-inline-block">
          <img src="{{url_for('static', filename='classroom.png')}}" />
        </figure>
        </a>
        <h1 class="title is-size-4 has-text-dark mt-4">
          เจ้าหน้าที่
        </h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}