<nav class="navbar is-light">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                <a class="navbar-item">
                    <span class="icon">
                        {% if session.get('login_as') != 'member' %}
                        <i class="fas fa-user-cog"></i>
                        {% else %}
                        <i class="fas fa-user-circle"></i>
                        {% endif %}
                    </span>
                    <span>{{current_user}}</span>
                </a>
                <a class="navbar-item" href="{{ url_for('users.logout') }}">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>ออกจากระบบ</span>
                </a>
                {% else %}
                <a class="navbar-item" href="{{ url_for('users.register_user') }}">
                    <button class="button is-link">
                        <span class="icon">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <span>Register Admin</span>
                    </button>
                </a>
                {% endif %}
<!--                <a class="navbar-item" href="/">-->
<!--                       <span class="icon">-->
<!--                           <i class="fa-solid fa-circle-info"></i>-->
<!--                       </span>-->
<!--                    <span>แจ้งปัญหา/ขอความช่วยเหลือ</span>-->
<!--                </a>-->
            </div>
        </div>
    </div>
</nav>